---
import Layout from '../layouts/Layout.astro';
import CardGrid from '../components/CardGrid.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
// import Button from '../components/Button.astro';
import Modal from '../components/Modal.astro';

const cardArray = [
  {
   src: "https://fastly.picsum.photos/id/866/536/354.jpg?hmac=tGofDTV7tl2rprappPzKFiZ9vDh5MKj39oa2D--gqhA",
   url: "https://rapid-two.vercel.app/",
   title: "Rapid",
   description: "Prototype UI Builder", 
   badgeMeta: [{label: "Proof of Concept"}, {label: "React"}] 
  },
  {
    src: "https://fastly.picsum.photos/id/866/536/354.jpg?hmac=tGofDTV7tl2rprappPzKFiZ9vDh5MKj39oa2D--gqhA",
     url: "https://coin-pouch.vercel.app/",
     title: "Coin Pouch",
     description: "Cryptocurrency market data",     
     badgeMeta: [{label: "React"}] 
  },
  {
    src: "https://fastly.picsum.photos/id/866/536/354.jpg?hmac=tGofDTV7tl2rprappPzKFiZ9vDh5MKj39oa2D--gqhA",
     url: "https://budget-tracker-2-next.vercel.app/",
     title: "Budget Tracker",
     description: "Budget tool",
     badgeMeta: [{label: "Next"}, {label: "React"}]
  },
  {
    src: "https://fastly.picsum.photos/id/866/536/354.jpg?hmac=tGofDTV7tl2rprappPzKFiZ9vDh5MKj39oa2D--gqhA",
     url: "https://www.chainalysis.com/",
     title: "Chainalysis",
     description: "Marketing Site",
     badgeMeta: [{label: "Wordpress"}, {label: "React"}]
  },
  {
    src: "https://fastly.picsum.photos/id/866/536/354.jpg?hmac=tGofDTV7tl2rprappPzKFiZ9vDh5MKj39oa2D--gqhA",
     url: "https://gpo.com/",
     title: "GPO",
     description: "Marketing Site",
     badgeMeta: [{label: "Wordpress"}]
  },
  {
    src: "https://fastly.picsum.photos/id/866/536/354.jpg?hmac=tGofDTV7tl2rprappPzKFiZ9vDh5MKj39oa2D--gqhA",
     url: "https://states-united.netlify.app/components/detail/home.html",
     title: "States United",
     description: "Component Library",
     badgeMeta: [{label: "Fractal"}, {label: "Twig"}]
  }
];
---

<Layout title="Justin Green | Developer">
  <main class="u-margin--top--lg">    
    <div class="l-container l-container--lg">
      <div class="u-fade-up">
        <h1 class="font-color--green font-size--jumbo u-text--center u-padding--bottom--md">Projects</h1>           
        <div class="u-margin--bottom--lg">             
          <CardGrid>
            {
              cardArray.map((card) => (
                <Card
                  src={card.src}
                  /*url={card.url}*/
                  title={card.title}
                  description={card.description}
                >
                  
                  <div class="c-card__badge-group">
                    {
                      (() => {        
                        return card.badgeMeta.map((item) => (
                          <Badge>
                            {item.label}
                          </Badge> 
                        ));        
                      })()
                    }
                  </div>
                  
                  <!-- <Button text="Learn More" /> -->
                </Card>
              ))
            }
          </CardGrid>
        </div>
      </div>
    </div>
    
    <Modal />
  </main>
</Layout>

<script is:inline> 
  if(document.querySelectorAll('.c-card')) {
    const cards = document.querySelectorAll('.c-card');
    const modal = document.querySelector('.c-modal');
    const modalCard = document.querySelector('.c-modal .card');   
    
    cards.forEach((card) => {
      card.addEventListener('click', () => {
        modalCard.classList.remove('u-scaleout');
        modal.classList.add('is-active');
        modalCard.classList.add('u-scale');
        document.body.classList.add('is-disabled');
      });
    });
  }
  
  if(document.querySelector('.c-modal .card-close')) {
    const modal = document.querySelector('.c-modal');
    const modalCard = document.querySelector('.c-modal .card');   
    const modalCardClose = document.querySelector('.c-modal .card-close');
    
    modalCardClose.addEventListener('click', () => {
      document.body.classList.remove('is-disabled');
      modalCard.classList.remove('u-scale');
      modalCard.classList.add('u-scaleout');
      setTimeout(() => {
        modal.classList.remove('is-active');
      },100);      
    });
  }
</script>