---
import Badge from '../components/Badge.astro';
const {src, title, description, url, badges} = Astro.props;
---

<div class="c-card">
  <a class="c-card__link" href={url} target="_blank">
    <img src={src} alt={title} />
    <h3>{title}</h3>
    <p>{description}</p>
    <Badge text={badges} />
  </a>
</div>