---
const {
  src, 
  gifSrc,
  title, 
  description, 
  url, 
  details
} = Astro.props;
---

<div class="c-card u-fade-up u-animation-delay">
  <!-- <a class="c-card__link" href={url} target="_blank">
    <img src={src} alt={title} />
    <h3>{title}</h3>
    <p>{description}</p>    
    <slot/>
  </a> -->
  <div class="c-card__info" data-card-url={url}>
    <div class="c-card__image">
      <img src={src} alt={title} />
    </div>
    
    {
      gifSrc 
      ? 
      <div class="c-card__gif is-hidden">
        <img src={gifSrc} alt="gif" />
      </div>
      :
      null
    }
    
    <h4 class="c-card__title">{title}</h4>
    <p>{description}</p>
    <p class="c-card__details is-hidden">{details}</p>
    <slot/>
  </div>
</div>