---
import Badge from '../components/Badge.astro';
const {src, title, description, url, badgeTitle, badgeCount} = Astro.props;
const badgeArray = badgeCount;
---

<div class="c-card">
  <a class="c-card__link" href={url} target="_blank">
    <img src={src} alt={title} />
    <h3>{title}</h3>
    <p>{description}</p>
    {
      (() => {        
        return badgeArray.map(() => (
          <Badge text={badgeTitle} /> 
        ));        
      })()
    }
  </a>
</div>